/*Created by Ivan Jonjic (IJPantic on github), 9. December, 2025.*/
/*Updated by Ivan Jonjic (IJPantic on github), 28. January, 2026.*/
/*Updated by Ivan Jonjic (IJPantic on github), 29. January, 2026.*/
/*Updated by Ivan Jonjic (IJPantic on github), 5. February, 2026.*/

/*Top stuff*/
.box_main_header_part_1{
	height: 150px;
	width: 100%;
	background: #aa00ff;
	position: absolute;
	top: 0px;
	left: 0px;
}
.box_main_header_text_1{
	position: absolute;
	top: 10px;
	left: 10%;
}
.box_main_header_part_2{
	height: 70px;
	width: 100%;
	background: #d190ff;
	position: absolute;
	top: 150px;
	left: 0px;
}
.box_main_header_text_2{
	position: absolute;
	top: 90px;
	left: calc(10% + 200px);
}
.box_main_header_part_1_line_below{
	height: 2px;
	width: 255px;
	background: #ffffff;
	position: absolute;
	top: 100px;
	left: calc(10% - 5px);
}
.box_main_header_part_1_line_above{
	height: 2px;
	width: 255px;
	background: #ffffff;
	position: absolute;
	top: 50px;
	left: calc(10% - 5px);
}
.box_main_header_text_3{
	position: absolute;
	top: 140px;
	left: 10%;
}

/*body stuff*/
.body_content{
	position: absolute;
	top: 280px;
	left: calc(50%);
	transform: translate(-50%);
}
.paragraph_title_box{
	height: 50px;
	width: 250px;
	background: #aa00ff;
	position: relative;
	top: 0px;
	left: -10px;
	z-index: 2;
}
.paragraph_title{
	position: relative;
	top: -60px;
	z-index: 3;
}
.paragraph_text{
	position: relative;
	top: -55px;
	left: 10px;
	z-index: 2;
}

.paragraph_body{
	height: var(--h, 0px);
	width: 320px;
	background: #d190ff;
	position: relative;
	top:  var(--y, 0px);
	left: 0px;
	z-index: 1;
}
.paragraph_place{
	position: relative;
	top: var(--y, 0px);
}

/*Bottom stuff*/
.box_main_end{
	size: relative;
	height: 300px;
	background: #0f0f0f;
	position: relative;
	top: 0px;
	left: 0px;
	z-index: 1;
}
.box_main_end_text_1{
	position: relative;
	top: 250px;
	left: 10%;
	z-index: 2;
}
.box_main_end_text_2{
	position: relative;
	top: 250px;
	left: calc(10% + 50px);
	z-index: 2;
}

.bottom_place{
	position: absolute;
	width: 100%;
	top: var(--y, 0px);
	left: 0px;
}

/*other stuff*/
li{
	margin-bottom: 20;
}

